/*documento css*/

* { margin: 0; }

.cabecera {background-color: #FFF5E4;
           padding: 16px 0px;}

.logo { font-size: 6em;
        color: #C1D8C3;
        text-align: center;
        display: block; }

.pie { background-color: #6A9C89;
        text-align: center;
        padding: 16px 0px; 
        font-family: "Space Grotesk", sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #FFF5E4; }

h1 { font-family: "Alfa Slab One", serif;
     font-weight: 400;
     font-size: 48px; 
     text-align: center; 
     color: #FFA725; 
     background-color: #FFF5E4; }

h2 { font-family: "Space Grotesk", sans-serif; 
     padding: 15px;
     background-color: #C1D8C3;
     color: #252525; 
     padding-top: 10px;
     padding-bottom: 10px;}

.contenido { font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 300; 
    text-align: justify;
    padding: 30px;
    background-color: #FFF5E4; 
    color: #252525; }

p { margin: 10px; }

li { margin: 5px; }

.imagenes { width: 500px;
            border-style: solid;
            border-color: #FFA725; 
            border-width: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;
            margin: auto;}
            

