/*Documento CSS*/

* { margin: 0px;
    padding: 0px;}

body { font-family: "Space Grotesk", sans-serif}

h1 { font-family: "Barrio", system-ui;
    font-weight: 400;
    font-size: 100px; 
    text-align: center; 
    color: #BE5985; 
    background-color: #FFF5E4; }

.cabecera { margin-bottom: 32px; }

.tablas { margin-bottom: 32px;
          min-height: 1px;
          padding: 16px 0px;
          background-color: #FFEDFA; }

i { color: #BE5985;
    text-align: center; }

td { color: #FFF5E4;
    background-color: #EC7FA9;}

.tablas table {margin: auto;}

div.tablas { background-color: #EC7FA9;
             margin-bottom: 300px; }

.pie { text-align: center;
       font-size: 12px; 
       background-color: #BE5985;
       color:#FFF5E4; }

